:8888 {
	handle /api/query* {
		reverse_proxy clickhouse:8123 {
			header_up X-ClickHouse-User blotter_readonly
			header_up X-ClickHouse-Key readonly
		}
		header Access-Control-Allow-Origin *
		header Access-Control-Allow-Methods "GET, POST, OPTIONS"
		header Access-Control-Allow-Headers "Content-Type"
	}

	handle {
		root * /srv
		file_server
		try_files {path} /index.html
	}
}
